@using WebApplication3.Models.Siniflar;
@model List<Urun>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>Yeni Ürün Ekle</h1>
<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
{
    <p>
        Ürün Adı : @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYATI</th>
        <th>SATIŞ FİYATI</th>
        <th>KATEGORİ</th>
        <th>GÖRSEL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UrunId</td>
            <td>@item.UrunAdi</td>
            <td>@item.Marka</td>
            <td>@item.Stok</td>
            <td>@item.AlisFiyati</td>v
            <td>@item.SatisFiyati</td>v
            <td>@item.Kategori.KategoriAd</td>
            <td>@item.UrunGorsel</td>
            <td><a href="/Urun/UrunSil/@item.UrunId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Urun/UrunGetir/@item.UrunId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Urun/YeniUrun" class="btn btn-primary">Ürün Ekle</a>

