@using WebApplication3.Models.Siniflar
@model List<SatisHareket>
@{
    ViewData["Title"] = "SatisDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Satis Detay</h1>
<br />

<table class="table table-hover">
    <tr>
        <th>SATIŞ ID</th>
        <th>ÜRÜN</th>
        <th>CARİ</th>
        <th>PERSONEL</th>
        <th>FİYAT</th>
        <th>ADET</th>
        <th>TOPLAM</th>
        <th>TARİH</th>
        <th>YAZDIR</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SatisId</td>
            <td>@item.Urun.UrunAdi</td>
            <td>@item.Cari.CariAdi@item.Cari.CariSoyadi</td>
            <td>@item.Personel.PersonelAdi @item.Personel.PersonelSoyadi</td>
            <td>@item.Fiyat</td>
            <td>@item.Adet</td>
            <td>@item.ToplamTutar</td>
            <td>@item.SatisTarih</td>
            <td><a href="# " class="btn btn-primary">Yazdır</a></td>
        </tr>
    }

</table>
