@model WebApplication3.Models.Siniflar.Fatura
@{
    ViewData["Title"] = "FaturaGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Fatura Getir</h1>

@using (Html.BeginForm("FaturaGuncelle", "Fatura", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.FaturaId)
    @Html.LabelFor(x=>x.FaturaSeriNo)
    @Html.TextBoxFor(x=>x.FaturaSeriNo,new { @class="form-control" })
    <br />
    @Html.LabelFor(x=>x.FaturaSıraNo)
    @Html.TextBoxFor(x=>x.FaturaSıraNo,new { @class="form-control" })
    <br />
    @Html.LabelFor(x=>x.VergiDairesi)
    @Html.TextBoxFor(x=>x.VergiDairesi,new { @class="form-control" })
    <br />
    @Html.LabelFor(x=>x.Tarih)
    @Html.TextBoxFor(x=>x.Tarih,new { @class="form-control" })
    <br />
    @Html.LabelFor(x=>x.Saat)
    @Html.TextBoxFor(x=>x.Saat,new { @class="form-control" })
    <br />
    @Html.LabelFor(x=>x.ToplamTutar)
    @Html.TextBoxFor(x=>x.ToplamTutar,new { @class="form-control" })
    <br />
    @Html.LabelFor(x=>x.TeslimEden)
    @Html.TextBoxFor(x=>x.TeslimEden,new { @class="form-control" })
    <br />
    @Html.LabelFor(x=>x.TeslimAlan)
    @Html.TextBoxFor(x=>x.TeslimAlan,new { @class="form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
}